@use "../../variables" as v;

// Outside Container
// Gradient Border by @alphardex on CodePen
// gradient: https://www.gradientmagic.com/collection/rainbowstandard
.gradient_border {
  --border-width: 4px;

  margin: 0 auto;
  position: relative;
  width: 80%;
  height: 90%;
  color: v.$text;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

// Inside Container
.quizzes_container {
  font-family: "Outfit", sans-serif;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  width: 100%;
  border-radius: 10px;
  max-height: calc(100vh - 100px);
  overflow-y: auto;

  .play_banner {
    background-color: rgba(v.$accent, 10%);
    line-height: 100px;
    padding: 50px;
    border-bottom: 4px solid;
    border-image: linear-gradient(to top, #343364, white) 1;

    h4 {
      font-size: 4em;
      font-weight: 600;
      text-align: center;
    }

    p {
      font-size: 2em;
    }
    a {
      font-size: 2em;
      font-weight: 600;
      background-color: goldenrod;
      text-decoration: none;
      color: black;
      padding: 10px 20px;
      border: 2px solid rgb(134, 100, 12);
      border-radius: 20px;
    }
  }
  .top_title {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
  }

  h4 {
    font-size: 38px;
    text-align: left;
  }

  h5 {
    font-size: 24px;
    text-align: left;
  }
  button {
    padding: 10px;
    border-radius: 25px;
    box-shadow: 1px 6px 10px 0px rgba(0, 0, 0, 0.26);
    background-color: darken(v.$highlight, 30%);
    width: 50px;
    color: v.$text;
    font-size: 20px;
  }
}
