@use "../../variables" as v;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

// Main container of page
.home {
  height: 100vh;
  padding: 0;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

// Container of banner element
.banner {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 230px 300px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  width: 80%;
  height: 60%;
  border-radius: 10px;
}

// Gradient Border by @alphardex on CodePen
// gradient: https://www.gradientmagic.com/collection/rainbowstandard
.gradient_border {
  --border-width: 3px;

  position: relative;
  width: 80%;
  height: 60%;
  font-size: 2.5rem;
  color: v.$text;
  background-color: darken(v.$base, 5%);
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 10px;

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

// Glowing Box Effect by @prathkum on CodePen for banner element
.banner_ul {
  position: relative;
  display: flex;

  li {
    list-style: none;
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 150px;
    width: 150px;
    z-index: 100;
    margin-left: -75px;
  }

  div {
    position: relative;
    height: 150px;
    width: 150px;
    background: #18191f;
    color: #555;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    cursor: pointer;
    margin: 0 4px;
    border-radius: 20px;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
      4px 4px 6px rgba(0, 0, 0, 0.2),
      inset -1px -1px 4px rgba(255, 255, 255, 0.05),
      inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  input[type="checkbox"]:checked ~ div {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
      inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 1.5s linear infinite;
  }

  @keyframes glow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
}

// Bouncing Words Animation by @arlinacode on CodePen for banner element
$darkertext: darken(v.$text, 40%);

.bouncing_words {
  h1 {
    //font-family: "Luckiest Guy", cursive;
    font-family: "Poppins", sans-serif;
    cursor: default;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: block;
    text-align: center;
    letter-spacing: 20px;
    line-height: 100px;
  }

  h1 span {
    position: relative;
    top: 20px;
    display: inline-block;
    animation: bounce 1s ease infinite alternate;
    -webkit-animation: bounce 1s ease infinite alternate;
    font-size: 80px;
    color: v.$highlight;
    text-shadow: 0 1px 0 $darkertext, 0 2px 0 $darkertext, 0 3px 0 $darkertext,
      0 4px 0 $darkertext, 0 5px 0 $darkertext, 0 6px 0 transparent,
      0 7px 0 transparent, 0 8px 0 transparent, 0 9px 0 transparent,
      0 10px 10px rgba(0, 0, 0, 0.4);
  }

  h1 span:nth-child(2) {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
  }

  h1 span:nth-child(3) {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
  }

  h1 span:nth-child(4) {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
  }

  h1 span:nth-child(5) {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
  }

  h1 span:nth-child(6) {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }

  h1 span:nth-child(7) {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
  }

  h1 span:nth-child(8) {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
  }

  h1 span:nth-child(9) {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
  }

  h1 span:nth-child(10) {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
  }

  h1 span:nth-child(11) {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
  }

  h1 span:nth-child(12) {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
  }

  h1 span:nth-child(13) {
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
  }

  h1 span:nth-child(14) {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
  }

  /* ANIMATION of Bouncing Words */
  @keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 $darkertext, 0 2px 0 $darkertext, 0 3px 0 $darkertext,
        0 4px 0 $darkertext, 0 5px 0 $darkertext, 0 6px 0 $darkertext,
        0 7px 0 $darkertext, 0 8px 0 $darkertext, 0 9px 0 $darkertext,
        0 50px 25px rgba(0, 0, 0, 0.2);
    }
  }
  @-webkit-keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 $darkertext, 0 2px 0 $darkertext, 0 3px 0 $darkertext,
        0 4px 0 $darkertext, 0 5px 0 $darkertext, 0 6px 0 $darkertext,
        0 7px 0 $darkertext, 0 8px 0 $darkertext, 0 9px 0 $darkertext,
        0 50px 25px rgba(0, 0, 0, 0.2);
    }
  }
}

// Play now text
// CSS Neon Sign Effect by @ananyaneogi on CodePen
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

.playnow {
  h2 {
    font-size: 120px;
    line-height: calc(20px + 20vh);
    text-shadow: 0 0 5px rgb(187, 145, 5), 0 0 15px rgb(187, 145, 5),
      0 0 25px rgb(187, 145, 5), 0 0 20px rgb(187, 145, 5),
      0 0 30px rgb(44, 44, 44), 0 0 80px rgb(44, 44, 44),
      0 0 80px rgb(44, 44, 44);
    color: rgb(197, 178, 115);
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
    background-color: v.$base;
    width: 35%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 40px;
    border: 5px solid v.$dark;
    background: #18191f;
    box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
      4px 4px 6px rgba(0, 0, 0, 0.2),
      inset -1px -1px 4px rgba(255, 255, 255, 0.05),
      inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  }
}
