.gallery {
  width: 100%;
  padding: 0px 50px;
  margin: 0 auto;
  overflow: auto;

  h5 {
    margin: 10px 0px 0px 0px;
  }

  .cards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
  }
}

.card {
  width: 200px;
  height: 200px;
  position: relative;
  box-shadow: 2px 7px 10px 3px rgba(0, 0, 0, 0.26);
  transition: 0.2s ease-in-out;

  .buttons {
    position: absolute;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8px;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    font-size: 28px;
    width: 100%;
  }

  .delete_icon {
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 3px #fff, 0 0 15px #fff;
    padding: 10px 5px;
  }

  .play_icon {
    color: rgb(33, 190, 72);
    text-shadow: 0 0 3px rgb(33, 190, 72), 0 0 10px rgb(33, 190, 72);
    padding: 10px 5px;
    cursor: pointer;
  }

  &:hover {
    transform: rotateX(5deg) rotateY(8deg) rotateZ(-2deg) translateX(-3px)
      scale(1.1);
  }

  &:after {
    content: "";
    position: absolute;
    top: 140px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: #614385;
    background: linear-gradient(
      to top,
      rgb(15, 64, 90),
      rgba(96, 166, 204, 0.295)
    );
  }
  .card_image {
    object-fit: cover;
    width: 200px;
    height: 200px;
  }

  .card_header {
    position: absolute;
    z-index: 10;
    bottom: 15px;
    left: 0;
    right: 0;

    p {
      display: flex;
      align-items: flex-start;
      justify-content: center;

      &:last-child {
        line-height: 20px;
        padding: 0;
        color: rgba(255, 255, 255, 0.698);
        font-size: 18px;
      }
    }
  }
}
