@use "./variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: auto;
  background: linear-gradient(180deg, v.$base 40%, v.$dark 90%);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
}

.App {
  text-align: center;
}
