@use "./variables" as v;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(180deg, v.$base 40%, v.$dark 90%);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  max-height: auto;
}

.App {
  text-align: center;
}
