@use "../../variables" as v;

.nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
  overflow: hidden;
  margin-bottom: 30px;
  background: v.$base;
  background: linear-gradient(139deg, v.$base 7%, v.$dark 24%);
  color: v.$highlight;
  border-bottom: 1px solid lighten(v.$base, 5%);

  .logo {
    text-decoration: none;
    padding: 0;
    gap: 0;

    img {
      height: 50px;
      width: 140px;
    }
  }

  section {
    display: flex;
  }

  i {
    font-size: 24px;
  }

  a {
    text-decoration: none;
    font-size: 22px;
    padding: 10px;
    margin-right: 10px;
    font-weight: bold;
    gap: 5px;
    color: v.$highlight;
    text-transform: capitalize;
  }

  .nav_avatar {
    margin-left: -10px;
    clip-path: circle(40% at 50% 50%);
  }
}
